*{
    box-sizing:border-box;
}


body{

    margin:0;

    font-family:
    "Segoe UI",
    Arial,
    sans-serif;

    background:#f5f7fb;

    color:#222;

}


/* Main layout */

.app{

    display:flex;

    height:100vh;

}



/* Sidebar */

.sidebar{


    width:280px;

    background:#ffffff;

    border-right:1px solid #ddd;

    padding:20px;


    display:flex;

    flex-direction:column;


}



.sidebar h2{


    text-align:center;

    color:#2563eb;

    margin-bottom:25px;


}



.sidebar h3{


    margin-top:25px;

    color:#555;

}





/* Buttons */


.sidebar button{


    padding:12px;

    border:none;

    border-radius:10px;


    background:#2563eb;

    color:white;


    font-size:15px;

    cursor:pointer;


    margin-bottom:15px;


}


.sidebar button:hover{


    opacity:.9;


}



.clear{


    margin-top:auto;

    background:#ef4444!important;


}



/* History */


#history{


    overflow-y:auto;

}



.history-item{


    background:#f1f5f9;


    padding:12px;


    border-radius:10px;


    margin-bottom:10px;


    cursor:pointer;


    color:#333;


}



.history-item:hover{


    background:#dbeafe;


}





/* Chat section */


.chat-app{


    flex:1;


    display:flex;

    flex-direction:column;


}



/* Header */


.header{


    background:white;


    padding:25px;


    text-align:center;


    font-size:28px;


    font-weight:700;


    border-bottom:1px solid #ddd;


    color:#111827;


}





/* Chat area */


.chat-box{


    flex:1;


    padding:25px;


    overflow-y:auto;


    background:#f8fafc;


}





/* Messages */


.user{


    background:#2563eb;


    color:white;


    padding:14px 18px;


    border-radius:18px 18px 5px 18px;


    margin:12px 0;


    max-width:65%;


    margin-left:auto;


    width:fit-content;


    box-shadow:0 3px 8px rgba(0,0,0,.1);


}





.bot{


    background:white;


    color:#333;


    padding:14px 18px;


    border-radius:18px 18px 18px 5px;


    margin:12px 0;


    max-width:65%;


    width:fit-content;


    border:1px solid #e5e7eb;


    box-shadow:0 3px 8px rgba(0,0,0,.08);


}




/* Input area */


.input-area{


    background:white;


    padding:15px;


    display:flex;


    gap:10px;


    border-top:1px solid #ddd;


}




input{


    flex:1;


    padding:15px 18px;


    border-radius:25px;


    border:1px solid #ccc;


    outline:none;


    font-size:16px;


}



input:focus{


    border-color:#2563eb;


}




.input-area button{


    width:55px;


    border-radius:50%;


    background:#2563eb;


    color:white;


    font-size:20px;


}





/* scrollbar */


::-webkit-scrollbar{


    width:8px;


}



::-webkit-scrollbar-thumb{


    background:#cbd5e1;


    border-radius:10px;


}